.best {
    display: flex;
    position: relative;
  
  }
  
   .leftWrapper {
    width: 80%;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 70% 0%, 80% 100%, 0 100%);
  }
   .leftWrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .buttonStyle:hover {
    background: transparent;
    color: rgb(14, 11, 11);
    font-weight: 200;
  }
  
   .rightWrapper{
    width: 20%;
    margin: 6rem 0;
    margin-left: -6rem;
  }
   h3 {
    font-size: 1.7rem;
    font-family: "Noto Sans JP", sans-serif;
  }
   h2 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0.5rem 0;
    font-family: "Noto Sans JP", sans-serif;
  }
  p {
    margin: 1rem 0 3rem;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 200;
  }
  .span {
    position: absolute;
    left: 55%;
    top: 15%;
    transform: translate(-15%);
    width: 150px;
    height: 150px;
    background-color: rgb(215, 45, 45);
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: rgb(255, 255, 255);
    padding: 3rem;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.28), 0 1px 4px rgba(0, 0, 0, 0.6);
  
  }
  .spanItem{
    text-align: center;
    transform: rotate(30deg);
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    margin: 1rem;
  }