.branding-nav {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12px;
  height: 12vh;
}

.brand-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2.5rem;
}
.brand-container h2 {
  font-weight: 700;
  font-size: 2.2rem;
  letter-spacing: 2px;
}
.brand-container .search-wrapper {
  margin-left: 5rem;
}
.search-wrapper input {
  background: rgb(236, 235, 235);
  padding: 10px 30px;
  border-radius: 20px 0 0 20px;
  font-weight: 100;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
  letter-spacing: 2px;
}
.search-wrapper button {
  padding: 0.6rem 2rem !important;
  border-radius: 0 20px 20px 0 !important;
  font-weight: 100;
  font-family: "Noto Sans JP", sans-serif;
  color: var(--btnColor);
}
.search-wrapper button i {
  font-size: 0.8rem;
}
.container-flex .cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.cart-wrapper > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
  cursor: pointer;
}
.cart-wrapper > a > i {
  font-size: 1.5rem;
}
.cart-wrapper > a > span {
  margin-left: 0.5rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: left;
  background: rgb(236, 235, 235);
  padding: 1rem 2.5rem;
}
.navbar a {
  padding: 0 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}
.navbar a:hover {
  color: var(--HoverColor);
}

/* 
Media Query for Laptops and Desktops */

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1000px) {
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  body {
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
  }
}
