.singleProduct{
background-color: white;
   width: 100%;
   padding: 1rem 2rem;
   height: 100%;
   
}
.productCard{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    height: 500px;
}
.imageWrapper{
    border: 1px solid black;
    width: 50%;
    height: 400px;
}
.imageWrapper img{
    width: 100%;
    height: 100%;
}
.infoWrapper{
    width: 40%;
    height: 400px;
  
}
.infoWrapper h3{
    font-size: 1.5rem;
    width: 350px;
}
.infoWrapper h4{
    font-weight: 300;
    margin: 1.5rem 0;
}
.infoWrapper p{
    width: 400px;
    max-width: 90%;
    height: 200px;
    overflow: hidden;
    margin-top: 20px;
}
.infoWrapper h5{
    margin: 2rem  0 0;
    text-decoration: underline;
}
.btn{
    margin-left: 20px;
    background-color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(117, 31, 255, 1);
}
.btn i{
    font-size: 1.5rem;
    color: rgba(117, 31, 255, 1);
    font-weight: 100;

}
.backBtn{
    margin-left: 20px;
    background-color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(117, 31, 255, 1);

}
.icon{
    font-size: 1rem;
}.backBtn:hover{
    background: rgba(117, 31, 255, 1);
    color: #fff !important;
}