@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --buttonBgColor: rgba(117, 31, 255, 1);
  --btnColor: #ffffff;
  --HoverColor: rgba(117, 31, 255, 1);
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  background: #f9fafa;
}
a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease-in-out;
}
li {
  list-style-type: none;
}
button,
input {
  outline: none;
  border: none;
  transition: 0.3s ease-in-out;
}

.container-flex {
  width: 100%;
}
.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
